body {
    background: #d6f9e0;
}
a {
  margin-left: 2px;
}
.block_2 {
    display: inline-block;
    /*Задаем обтекание*/
    vertical-align: top;
    /*line-height: 15px*/
    /*Высота строки +  верт. центрирования текста*/
    font-size: 12px;
    background: lightgreen;
    color: white;
    margin-top: 5px;
    padding-right: 3px;
    width: 320px;
    /*Фиксируем ширину блока*/
    min-height: 180px;
    margin-right: 10px;
    text-align: center;
    /*Центрируем текст по горизонтали*/
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
