body {

	background: #d1fede;
}
.block_2 {
     float: left; /*Задаем обтекание*/
     line-height: 15px;/*Высота строки +  верт. центрирования текста*/
     font-size: 12px;
     background: lightgreen;
     color: white;
     margin-top: 5px;
     width: 320px; /*Фиксируем ширину блока*/
     min-height: 180px;
     margin-right: 10px;
     text-align: center; /*Центрируем текст по горизонтали*/
     box-sizing: border-box;
    }